#menu{
    background-color: green;
    float: left;
    width: 140px;
    padding-left: 10px;
}
#menu ul 
{
    list-style: none;
}
#menu ul :hover
{
    background : wheat;
}
#container{
    background-color: red;
    margin-left: 160px;
}
#footer{
    background-color: grey;
}